@import "../../assets/palette.scss";

.Nav {
    background-color: black;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__Logo {
        font-family: $header-font;
        color: white;
        font-weight: bolder;
        text-decoration: none;
        font-size: x-large;
        margin: 20px;
    }

    &__BurgerMenu {
        color: white;
        padding: 10px;
        margin: auto 20px;
        font-size: x-large;
    }
}
