.Nav {
    background-color: black;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__Logo {
        color: white;
        font-weight: bolder;
        text-decoration: none;
        font-size: x-large;
        margin: 20px;
    }

    &__Menu {
    }

    &__Links {
        margin: 5px 20px;
        text-decoration: none;
        color: white;
    }

    &__Links:hover {
        border-bottom: 2px solid white;
    }
}
