@import "./../../assets/palette.scss";

.Contact {
    min-height: 68.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
    }

    p {
        font-family: $body-font;
        margin: 0px;
    }

    &__Banner {
        align-self: center;
        width: 95vw;
        justify-self: center;
    }

    &__Header {
        font-size: large;
        font-family: $header-font;
    }

    &__Stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 40px;
    }

    &__Stack_item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin: 10px;

        h1 {
            margin: 0px;
            font-size: xx-large;
        }
    }

    &__Stack_item:hover {
        a,
        p {
            color: $earth-yellow;
        }
    }
}
