.About {
    min-height: 68.7vh;
    display: flex;

    justify-content: center;

    img {
        height: 450px;
        width: 450px;
        border-radius: 25%;
        margin: 20px;
        object-fit: cover;
        align-self: center;
    }

    &__Section {
        width: 450px;
        align-self: center;
    }
}
