@import "./../../assets/palette.scss";

.About {
    min-height: 68.9vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        height: 450px;
        width: 450px;
        border-radius: 10%;
        margin: 20px;
        object-fit: cover;
        align-self: center;
    }

    &__Header {
        font-family: $header-font;
    }

    &__Section {
        width: 450px;
        align-self: center;
    }

    &__Subheading {
        p {
            margin: 0;
            font-family: $body-font;
            font-weight: bold;
        }
    }

    &__Text {
        font-family: $body-font;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .About {
        img {
            height: 250px;
            width: 250px;
        }

        &__Section {
            margin: 0vh 3vh;
        }
    }
}
