@import "./../../assets/palette.scss";

.Resume {
    min-height: 66.7vh;

    &__Header {
        text-align: center;
        font-family: $header-font;
    }

    &__Work_Experience {
        margin: 0vh auto;
        max-width: 900px;

        h2 {
            font-family: $header-font;
        }
    }

    &__Experience {
        display: flex;
        align-items: center;
    }

    &__Logo {
        height: 90px;
        width: 90px;
        object-fit: contain;
    }

    &__Experience_Text {
        margin: 0vh 2vh;
        font-family: $body-font;
    }
}
