@import "./../../assets/palette.scss";

.Landing {
    min-height: 68.9vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: $body-font;

    &__Header {
        margin: 5px;
        font-family: $header-font;
    }

    p {
        margin: 5px;
    }
}
