.Landing {
    min-height: 68.7vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    &__Header {
        margin: 5px;
    }

    p {
        margin: 5px;
    }
}
