@import "./../../assets/palette.scss";

.Projects {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__Header {
        font-size: x-large;
        text-align: center;
        font-family: $header-font;
    }

    &__Project_Tiles {
        width: 85%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
