@import "./../../assets/palette.scss";

.ProjectCard {
    width: 275px;
    margin: 15px;
    padding: 30px;
    text-align: center;
    background: $agreeable-grey;

    border-radius: 12px;

    &__Header {
        font-size: large;
        font-family: $header-font;
    }

    &__Image {
        width: 275px;
        object-fit: contain;
    }

    &__Description {
        padding: 5px 0px;
        font-family: $body-font;
    }

    &__Links {
        width: 30%;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        font-size: x-large;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }
}
