@import "./../../assets/palette.scss";

.BurgerNav {
    background: $earth-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    max-width: 100%;

    overflow-x: hidden;

    &__Links {
        padding: 10px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: $header-font;
    }

    &__Links:hover {
        background-color: $camel;
        color: white;
    }
}
