.BurgerNav {
    background: rgb(145, 162, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &__Links {
        margin: 5px;
        padding: 8px 15px;
        text-decoration: none;
        color: black;
    }

    &__Links:hover {
        background-color: grey;
    }
}
